input, textarea, select, button {
    outline: none;  /* 移除默认的强调色边框 */
}

$vi-color-primary: #B0D9B1;
$vi-color-success: #219C90;
$vi-color-danger: #D83F31;
$vi-color-warning: #EE9322;
$vi-color-error: #D83F31;
